.App {
  color: #ECF2FF;
  max-width: 900px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper-section {
  position: absolute;
  content: url('../logo.svg');
}

.wrapper-section {
  height: 100vh;
  width: 100vh;
  opacity: 0.2;
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  margin-top: 5px;
}

.top-button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 0
}


.button-top {
  background-color: #B3005E;
  color: whitesmoke;
  padding: 10px;
  margin: 0 5px;
  border-radius: 0.3rem;
  border: 2px solid black;
  font-family: inherit;
  font-weight: 600;
}

.mint-nft-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mint-nft-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: rgba(81, 81, 81, 0.44);
  margin: 2rem;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  border: #84066a 2px solid;
}

.input-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

input[type='text'] {
  background-color: #282c34;
  color: white;
  outline: none;
  border: 1px solid white;
  margin-bottom: 1rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
  width: 200px;

}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #84066a;
  padding: 5px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #df3a8a;
}

.mint-nft-area button {
  margin-top: 1rem;
  color: white;
  background-color: #B3005E;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.5rem 2rem;
  font-weight: 600;
}

.mint-nft-area button:hover {
  background-color: #080808;
  color: white;
  transition: 300ms;
  border: 1px solid #B3005E;
}

.mint-nft-area button:active {
  background-image: linear-gradient(180deg, rgb(254, 30, 109), rgb(248, 93, 137));
  color: white;
  transition: 300ms;
  border: 1px solid #B3005E;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.button-top:hover {
  background-color: #080808;
  color: white;
  transition: 300ms;
  border: 2px solid #B3005E;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
